#thenumber{
    display: block;
    font-size: 50px;
    text-align: center;


}
#btncontainer{
    display: block;
   
    text-align: center;
    
}
.buttons{
    border-radius: 15px;
    color:darkmagenta;
    text-align: center;
    padding: 10px;
    background-color: blanchedalmond;
    cursor: pointer;
    transition: background-color 0.25s , font-size 0.25s;

}
.buttons:hover{
    background-color: aqua;
    font-size: larger;
}

